{
    "presets": [
      "env"
    ],
    "plugins": [
      [
        "syntax-object-rest-spread",
        "transform-object-rest-spread",
        "transform-react-jsx",
        "emotion",
        "transform-runtime",
        "@babel/plugin-syntax-dynamic-import"
      ],
      [
        "transform-react-jsx",
        {
          "pragma": "h"
        }
      ]
    ]
  }